*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#020617;
  color:#F8FAFC;
  font-family:'Poppins',sans-serif;
}

section{
  padding:100px 10%;
}

.container{
  max-width:1200px;
  margin:auto;
}




/* ------Hero.css------- */


.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
}

.hero-content{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:60px;
}

.hero-text{
  flex:1;
}

.hero-text h3{
  color:#00C2A8;
  margin-bottom:10px;
}

.hero-text h1{
  font-size:4rem;

  background:linear-gradient(
  90deg,
  #00C2A8,
  #38BDF8
  );

  -webkit-background-clip:text;
  color:transparent;
}

.hero-text h2{
  margin:15px 0;
  color:#38BDF8;
}

.hero-text p{
  line-height:1.8;
  max-width:600px;
}

.hero-buttons{
  margin-top:30px;
  display:flex;
  gap:15px;
}

.hero-buttons a{
  text-decoration:none;
  padding:12px 24px;
  border-radius:10px;
  background:#00C2A8;
  color:white;
  font-weight:600;
}


.hero-image img{
  width:380px;
  border-radius:20px;
  border:3px solid #00C2A8;
  box-shadow:
  0 0 25px #00C2A8,
  0 0 60px rgba(0,194,168,.4);
}
.hero-text h2{
  color:#00C2A8;
  min-height:50px;
}

.hero-badges{
  margin-top:25px;
  display:flex;
  gap:12px;
  flex-wrap:wrap;
}

.hero-badges span{
  padding:8px 16px;
  border-radius:20px;
  background:#111827;
  border:1px solid #00C2A8;
}

.availability{
 margin-top:20px;
 color:#00C2A8;
 font-weight:600;
}
@media(max-width:768px){

  .hero-content{
    flex-direction:column-reverse;
    text-align:center;
  }

  .hero-text h1{
    font-size:2.5rem;
  }

  .hero-image img{
    width:250px;
  }

  .hero-buttons{
    justify-content:center;
  }
}



/* -----navbar.css----- */


.navbar{
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 10%;

  background:rgba(2,6,23,0.95);
  backdrop-filter:blur(12px);
}

.logo{
  font-size:1.8rem;
  font-weight:700;
  color:#00C2A8;
}

.nav-links{
  display:flex;
  gap:30px;
  list-style:none;
}

.nav-links a{
  text-decoration:none;
  color:white;
  transition:.3s;
}

.nav-links a:hover{
  color:#00C2A8;
}

@media(max-width:768px){

  .nav-links{
    gap:15px;
    font-size:14px;
  }

}



/* --------about.css---- */


.section-title{
  text-align:center;
  font-size:3rem;
  margin-bottom:60px;

  background:linear-gradient(
    90deg,
    #00C2A8,
    #38BDF8
  );

  -webkit-background-clip:text;
  color:transparent;
}

.about-text{
  max-width:900px;
  margin:auto;
  text-align:center;
  line-height:2;
  color:#cbd5e1;
}




/* -----skills.css----- */




.skills-grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(180px,1fr));

  gap:20px;
}

.skill-card{

  padding:25px;

  border-radius:15px;

  text-align:center;

  border:1px solid #1e293b;

  transition:.3s;

  background:rgba(17,24,39,.6);

  backdrop-filter:blur(10px);
}

.skill-card:hover{
  transform:translateY(-5px);
  border-color:#00C2A8;
}




/* -------Experience.css------ */



.experience-card{
  padding:35px;
  border-radius:20px;
  border:1px solid #1e293b;
  max-width:900px;
  margin:auto;
  background:rgba(17,24,39,.6);
  backdrop-filter:blur(10px);
}

.experience-card h3{
  color:#00C2A8;
  margin-bottom:10px;
}

.experience-card h4{
  margin-bottom:15px;
  color:#38BDF8;
}

.experience-card p{
  line-height:1.8;
  color:#cbd5e1;
}




/* --------Projects.css----- */



.project-card{
  background:rgba(17,24,39,.6);
  backdrop-filter:blur(10px);
  display:flex;
  gap:40px;
  align-items:center;
  padding:30px;
  border-radius:20px;
  border:1px solid #1e293b;
}

.project-image{
  flex:1;
}

.project-image img{
  width:100%;
  border-radius:15px;
}

.project-content{
  flex:1;
}

.project-content h3{
  color:#00C2A8;
  margin-bottom:20px;
  font-size:2rem;
}

.project-content p{
  line-height:1.8;
  color:#cbd5e1;
}

.tech-stack{
  margin-top:20px;
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.tech-stack span{
  background:#020617;
  padding:8px 14px;
  border-radius:20px;
  border:1px solid #00C2A8;
}

.project-buttons{
  margin-top:25px;
  display:flex;
  gap:15px;
}

.project-buttons a{
  text-decoration:none;
  background:#00C2A8;
  color:white;
  padding:12px 20px;
  border-radius:10px;
  font-weight:600;
}
.project-tag{
  display:inline-block;
  padding:8px 15px;
  background:rgba(0,194,168,.15);
  color:#00C2A8;
  border-radius:30px;
  font-size:.9rem;
  margin-bottom:15px;
}

.project-description{
  margin-top:15px;
  line-height:1.8;
  color:#cbd5e1;
}

.project-features{
  margin-top:25px;
  display:grid;
  gap:12px;
}

.project-features div{
  color:#e2e8f0;
}
@media(max-width:900px){

  .project-card{
    flex-direction:column;
  }

}




/* -------contact.css-------- */

.contact-grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));

  gap:20px;
}

.contact-card{
  background:#111827;
  padding:30px;
  border-radius:20px;
  text-align:center;
  border:1px solid #1e293b;
  text-decoration:none;
  color:white;
  display:block;
  transition:.3s;
}

.contact-card:hover{
  border-color:#00C2A8;
  transform:translateY(-5px);
}

.contact-card h3{
  color:#00C2A8;
  margin-bottom:15px;
}

.contact-card a{
  color:#38BDF8;
  text-decoration:none;
}

.contact-card a{
  color:white;
  text-decoration:none;
  transition:.3s;
}

.contact-card a:hover{
  color:#00C2A8;
}




/* -------github.css----- */


.github-stats{
  display:flex;
  justify-content:center;
}

.github-stats img{
  width:100%;
  max-width:800px;
  border-radius:20px;
}



/* ------FloatingProfileImage.css------ */



.hero-image img{
 animation: float 4s ease-in-out infinite;
}

@keyframes float{

  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-15px);
  }

  100%{
    transform:translateY(0px);
  }

}



/* ------footer.css------ */


.footer{
  text-align:center;
  padding:50px 20px;
  background:#010814;
}

.socials{
  margin:20px 0;
}

.socials a{
  margin:0 15px;
  color:#00C2A8;
  text-decoration:none;
}




/* --------Mobile Menu.css------ */


.hamburger{
  display:none;
  font-size:2rem;
  cursor:pointer;
  color:#00C2A8;
}

@media(max-width:768px){

  .hamburger{
    display:block;
  }

  .nav-links{
    position:absolute;
    top:80px;
    left:-100%;

    width:100%;

    background:#020617;

    flex-direction:column;

    text-align:center;

    padding:30px 0;

    transition:.4s;
  }

  .nav-links.active{
    left:0;
  }
}


/* ----scroll progress css----- */

.scroll-progress{
  position:fixed;
  top:0;
  left:0;

  height:4px;

  background:#00C2A8;

  z-index:9999;
}


/* -------stats css----- */


.stats-grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(220px,1fr));

  gap:20px;
}

.stat-card{
  background:rgba(17,24,39,.6);
  backdrop-filter:blur(10px);
  padding:35px;
  text-align:center;
  border-radius:20px;
  border:1px solid #1e293b;
}

.stat-card h2{
  color:#00C2A8;
  font-size:2.5rem;
}

.stat-card p{
  margin-top:10px;
  color:#94a3b8;
}








.timeline{
  position:relative;
  max-width:900px;
  margin:auto;
}

.timeline::before{
  content:"";
  position:absolute;
  left:15px;
  top:0;
  width:2px;
  height:100%;
  background:#00C2A8;
}

.timeline-item{
  position:relative;
  padding-left:60px;
  margin-bottom:40px;
}

.timeline-dot{
  position:absolute;
  left:7px;
  top:8px;
  width:18px;
  height:18px;
  border-radius:50%;
  background:#00C2A8;
  box-shadow:0 0 20px #00C2A8;
}

.timeline-content{
  background:rgba(17,24,39,.6);
  backdrop-filter:blur(10px);
  padding:30px;
  border-radius:20px;
  border:1px solid #1e293b;
}

.timeline-date{
  color:#00C2A8;
  font-size:.9rem;
}

.timeline-content h3{
  margin-top:10px;
}

.timeline-content h4{
  color:#38BDF8;
  margin:10px 0;
}

.timeline-content p{
  line-height:1.8;
  color:#cbd5e1;
}





/* --------Education css ------- */


.education-card{
  background:rgba(17,24,39,.6);
  backdrop-filter:blur(10px);
  max-width:800px;
  margin:auto;


  padding:35px;

  border-radius:20px;

  border:1px solid #1e293b;

  text-align:center;
}

.education-card h3{
  color:#00C2A8;
}

.education-card h4{
  margin:15px 0;
}

.education-card p{
  color:#94a3b8;
}







.blob{
  position:fixed;
  border-radius:50%;
  filter:blur(120px);
  z-index:-1;
}

.blob1{
  width:300px;
  height:300px;
  background:#00C2A8;
  top:100px;
  left:-100px;
  opacity:.15;
}

.blob2{
  width:350px;
  height:350px;
  background:#38BDF8;
  bottom:100px;
  right:-100px;
  opacity:.12;
}


/* ------contact CTA ------- */


.cta{
  text-align:center;
  padding:120px 20px;
}

.cta h2{
  font-size:3rem;
}

.cta p{
  margin:20px 0;
  color:#94a3b8;
}

.cta a{
  display:inline-block;
  padding:15px 30px;
  background:#00C2A8;
  color:white;
  text-decoration:none;
  border-radius:12px;
}


/* ------certification css----- */


.certifications-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  gap:25px;
  margin-top:50px;
}

.cert-card{
  display:flex;
  align-items:center;
  gap:12px;

  padding:22px 28px;

  background:rgba(255,255,255,0.04);
  border:1px solid rgba(255,255,255,0.08);

  border-radius:18px;

  color:white;
  text-decoration:none;
  font-size:1rem;
  font-weight:500;

  backdrop-filter:blur(10px);

  transition:all 0.35s ease;
  overflow:hidden;
  position:relative;
}

.cert-card::before{
  content:"";
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;

  background:linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.08),
    transparent
  );

  transition:.6s;
}

.cert-card:hover::before{
  left:100%;
}

.cert-card:hover{
  transform:translateY(-8px);
  border-color:#00C2A8;
  box-shadow:0 0 25px rgba(0,194,168,0.25);
}

.cert-card span{
  font-size:1.4rem;
}

.cert-title{
  flex:1;
}

.cert-provider{
  font-size:0.85rem;
  color:#00C2A8;
  margin-top:4px;
}




/* -------resume css------- */

.download-btn{
  display: block;
  width: fit-content;

  margin: 25px auto 0;

  padding: 12px 28px;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;

  border-radius: 30px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0,114,255,0.3);
}

.download-btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,114,255,0.5);
}

.download-btn:active{
  transform:translateY(0);
}


.resume-preview{
  margin-top:30px;
  text-align:center;
}

.resume-image{
  width:100%;
  max-width:900px;
  border-radius:20px;
  border:1px solid rgba(255,255,255,0.1);
  box-shadow:0 0 20px rgba(0,194,168,0.2);
}



/* ------------Hero Base CSS---------- */


.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
  padding:100px 0;
}

.hero-content{
  width:100%;
  max-width:1200px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:60px;
  padding:0 20px;
}

.hero-text{
  flex:1;
}

.hero-text h1{
  font-size:4rem;
  margin:10px 0;
}

.hero-text h2{
  color:#00C2A8;
  min-height:60px;
}

.hero-text p{
  margin-top:20px;
  line-height:1.8;
}

.hero-image{
  flex:1;
  display:flex;
  justify-content:center;
}

.hero-image img{
  width:380px;
  height:380px;
  object-fit:cover;
  border-radius:50%;
  border:4px solid #00C2A8;
}

.hero-buttons{
  margin-top:30px;
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.hero-buttons a{
  padding:12px 24px;
  text-decoration:none;
  border-radius:10px;
}

.hero-badges{
  margin-top:20px;
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}


@media (max-width:1200px){

  .hero-text h1{
    font-size:3.5rem;
  }

  .hero-image img{
    width:320px;
    height:320px;
  }

}

@media (max-width:992px){

  .hero-content{
    flex-direction:column-reverse;
    text-align:center;
    gap:40px;
  }

  .hero-text h1{
    font-size:3rem;
  }

  .hero-image img{
    width:280px;
    height:280px;
  }

  .hero-badges{
    justify-content:center;
  }

  .hero-buttons{
    justify-content:center;
  }

}
@media (max-width:768px){

  .hero{
    padding-top:120px;
  }

  .hero-text h1{
    font-size:2.5rem;
  }

  .hero-text h2{
    font-size:1.5rem;
  }

  .hero-text p{
    font-size:.95rem;
  }

  .hero-image img{
    width:230px;
    height:230px;
  }

}

@media (max-width:576px){

  .hero-content{
    padding:0 15px;
  }

  .hero-text h1{
    font-size:2rem;
  }

  .hero-text h2{
    font-size:1.2rem;
  }

  .hero-image img{
    width:200px;
    height:200px;
  }

  .hero-buttons{
    flex-direction:column;
    align-items:center;
  }

  .hero-buttons a{
    width:100%;
    max-width:280px;
    text-align:center;
  }

  .hero-badges{
    justify-content:center;
  }

}